body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/Ronaldo.png');
    background-size: cover;
    background-position: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container button {
    padding: 20px 40px;
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: rgb(255, 0, 0);
}

.button-container button:hover {
    background-color: #3d3d3d;
}

.button-container button:active {
    background-color: #919191;
}

#searchSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchSection label {
    margin-bottom: 10px;
}

#searchSection input[type="text"],
#searchSection input[type="submit"] {
    margin-bottom: 10px;
}
